* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

.top-bar {
    background: linear-gradient(to top, #003366 0%, #336699 100%);
    width: 100%;
    height: 200px;
    color: white;
    padding: 20px 20%;
    margin-bottom: 15px;
}

.top-bar h1 {
    font-size: 4em;
    position: relative;
    top: 50%;
}

.top-bar h2 {
    font-size: 1.5em;
    font-weight: lighter;
    position: relative;
    top: 45%;
    font-style: italic;
}

input[type=button] {
    cursor: pointer;
    background: #0066cb;
    color: white;
    font-size: 1.5em;
    padding: 5px 15px;
    border: none;
    box-shadow: 0px 7px 0px #004c98;
    transition: 0.25s ease;
}

input[type=button]:hover {
    margin-top: 7px;
    box-shadow: 0px 0px 0px #004c98;
}

input[type=button]:focus {
    transition: 0.1s;
    border-radius: 2px;
    margin-top: 7px;
    box-shadow: 0px 0px 0px #004c98;
    outline: 5px solid rgba(0, 101, 203, 0.222);
}

.post-area {
    margin-top: 20px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post-area input[type=text] {
    width: 100%;
    font-size: 1.25em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post-area input[type=text]:focus,
textarea:focus {
    outline: 3px solid rgba(0, 101, 203, 0.222);
}

.post-area textarea {
    width: 100%;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    resize: none;
    height: 200px;
}

@keyframes flyIn {
    0% {
        opacity: 0;
    }

    50% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
}

.postbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 7px 10px;
}

a {
    font-size: 14px;
    text-decoration: underline;
    color: rgb(101, 101, 101);
    cursor: pointer;
}